.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: royalblue;
    height: 600px;
    padding: 10px 0;
    box-sizing: border-box;
    & div {
        padding: 4px;
        background-color: #fff;
        margin-right: 2px;
        &:nth-child(2) {
            align-self: flex-end;
        }
        &:nth-child(4) {
            align-self: flex-start;
        }
    }
}